
<link rel="import" href="../../packages/wasanbon_elements/nameservice/host_ns_manager.html" >
<link rel="import" href="../../packages/wasanbon_elements/nameservice/system_editor.html" >
<link rel="import" href="../../packages/wasanbon_elements/message_dialog.html" >

<link rel="import" href="../../packages/polymer_elements/paper_styles.html" >

<link rel="import" href="app-theme.html" >

<dom-module id="ns-tool">
    <template>
        <style is="custom-style">
            dark-primary-color {
                background: #303F9F;
            }


            .default-primary-color {
                background: #3F51B5;
            }

            .light-primary-color {
                background: #C5CAE9;
            }

            .text-primary-color {
                color: #FFFFFF;
            }

            .accent-color {
                background: #FF4081;
            }

            .primary-text-color {
                color: #212121;
            }

            .secondary-text-color {
                color: #727272;
            }

            .divider-color {
                border-color: #B6B6B6;
            }

            #top {
                background: var(--dark-primary-color);
                color: var(--text-primary-color);

                margin: 0px;
                padding: 0px;
                padding-left: 20px;
                height: 200px;
                box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
            }


            #top h1 {
                font-size: 36px;
                margin: 0px;
                padding-top: 45px;
                padding-left: 40px;
            }

            #top p {
                margin-top: 0px;
                padding-top: 0px;
                padding-left: 40px;
            }

            #host-ns {
                --host-ns-manager-button-color: var(--primary-text-color);
                --host-ns-manager-button-background-color: var(--light-primary-color);

                --host-ns-manager-toolbar-background-color: var(--default-primary-color);
            }

            #system-editor {

                --system-editor-toolbar-background-color: var(--default-primary-color);
            }

        </style>

        <wasanbon-toolbar id="toolbar"></wasanbon-toolbar>
        <div id="top">
            <h1>NameService Manager</h1>
            <p>wasanbon server Name Service manager.</p>
            <p>Version : 0.1.3</p>
        </div>

        <host-ns-manager id="host-ns" state="opened" group="ns-tool"></host-ns-manager>
        <system-editor  id="system-editor" group="ns-tool"></system-editor>

        <confirm-dialog id="message-dlg"></confirm-dialog>
    </template>
    <script type="application/dart" src="ns_tool.dart"></script>
</dom-module>
